# Task 1 .Q 2

In [1]:
num = []
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        num.append(i)

print("The Numbers are:")
for j in num:
    print(j)

The Numbers are:
2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

# Task 1 . Q 3

In [3]:
user = []
ch1 = input("Enter Your First Name:")
user.append(ch1)

ch2 = input("Enter Your Last Name:")
user.append(ch2)
for i in user[::-1]:
    print(i, end=" ")

Enter Your First Name:Aditya
Enter Your Last Name:Manthankar
Manthankar Aditya

# Task 1 . Q 4

In [4]:
d = float(input("Enter Diameter of Sphere:"))
print("Given Diameter is " + str(d) + " cm ")
r = float(d / 2)
V = float(1.333 * 3.142 * (r*r*r))
print("Volume Of Sphere :" + str(V) + " cubic cm ")

Enter Diameter of Sphere:12
Given Diameter is 12.0 cm
Volume Of Sphere :904.669776 cubic cm

# Task 2 . Q 1

In [5]:
num = input("Enter The Number Separated By ',' : ")
array = []
c = 0
i = 0
while i < len(num):
    if num[i] == ',':
        array.append(m)
        c = i + 1
        i = i + 1
    else:
        m = num[c:i+1]
        i = i + 1
array.append(m)
print(array)

Enter The Number Separated By ',' : 1,258,36852
['1', '258', '36852']

# Task 2 . Q 2

In [6]:
for i in range(6):
    for j in range(i):
        print("*", end=" ")
    print()

for i in range(5):
    for j in range(5-i-1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Task 2 . Q 3

In [7]:
user = str(input("Enter Any Word : "))
print(" Input Word : ", user)
print(" Output Word : ", end="\t")
for i in user[::-1]:
    print(i, end="")

Enter Any Word : abcdr
 Input Word :  abcdr
 Output Word : 	rdcba

# Task 2 . Q 4

In [8]:
ch = "WE, THE PEOPLE OF INDIA , having solemnly resolved to constitute India into SOVEREIGN, SOCIALIST, SECULAR , " \
     "DEMOCRATIC REPUBLIC and to secure all its ctizens "
print("Given Sentence :", ch)
print("Desired Output: ")
print(ch[:25])
print("\t  " + ch[26:86])
print("\t  \t  \t " + ch[87:127])
print("\t  \t  \t  " + ch[128:])

Given Sentence : WE, THE PEOPLE OF INDIA , having solemnly resolved to constitute India into SOVEREIGN, SOCIALIST, SECULAR , DEMOCRATIC REPUBLIC and to secure all its ctizens
Desired Output:
WE, THE PEOPLE OF INDIA ,
	  having solemnly resolved to constitute India into SOVEREIGN,
	  	  	 SOCIALIST, SECULAR , DEMOCRATIC REPUBLIC
	  	  	  and to secure all its ctizens